/**
* A set of default styles to use with the omega theme
*
* Note: system.base.css should be unset
* system.theme.css
* system.menus.css -
* @author Rob Holmes, Rose Nichols
*/






/* Use border box */
* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  padding:0;
  margin:0;
}

body#tinymce {
  padding:10px;
}

img {
  display:inline-block;
}

.item-list li {
  list-style: none;
}


/*******************************************************************************
* Style the tabs
*/
ul.tabs {
  border-bottom: 1px solid #DDD;
  margin:0 0 10px 0;
  padding: 0 0 0 5px;
}

ul.tabs > li {
  float: left;
  border-right:0px;
}

ul.tabs > li {
  margin-bottom: -1px;
  float:left;
  list-style:none;
}

ul.tabs > li.active > a, ul.tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: white;
  border: 1px solid #DDD;
  border-bottom-color: transparent;
}

ul.tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  display:block;
  background: none;
}

ul.tabs > li > a:hover {
  border-color: #EEE #EEE #DDD;
  text-decoration: none;
  background-color: #EEE;
}

/*******************************************************************************
* Style the action Links
*/
ul.action-links:before,
ul.action-links:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul.action-links:after {
  clear: both;
}

ul.action-links {
  *zoom: 1;
  padding:0;
  margin:0 0 20px 0;
}

ul.action-links > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  display: block;
}

ul.action-links > .active > a, ul.action-links > .active > a:hover {
  color: white;
  background-color: #08C;
}

ul.action-links > li {
  float: left;
  list-style:none;
  line-height: 20px;
}

ul.action-links > li > a:hover {
  text-decoration: none;
  background-color: #EEE;
}

/*******************************************************************************
* Default table styles
*/
table {
  max-width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #DDD;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;

  overflow:hidden;
  word-wrap:break-word;
}

table th, table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #DDD;
  border-bottom:none;
    border-left: 1px solid #DDD;
}

table th label {
  padding-left:10px;
}


table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

table caption + thead tr:first-child th,
table caption + tbody tr:first-child th,
tabled caption + tbody tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + tbody tr:first-child th,
table colgroup + tbody tr:first-child td,
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}

.form-item .description {
  margin:5px 0px;
}


/*******************************************************************************
* Fieldsets
*/
fieldset, #menu-block-settings {
  border: 1px solid #DDD;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background:#ffffff;
  margin-top:20px;
  margin-bottom: 20px;

padding: 2.5em 0 0 0;
position: relative;

}

fieldset fieldset {
  background-color: #F6F6F6;
}

fieldset fieldset fieldset {
  background-color: #FFFFFF;
}

fieldset fieldset fieldset fieldset {
  background-color: #F6F6F6;
}

.vertical-tabs fieldset {
    -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border:none;
}

fieldset .fieldset-wrapper {
  padding: 10px 13px 13px 15px;
}

fieldset legend {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

fieldset .fieldset-legend {
  margin-top: 10px;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
/**
* Legends
*/



.vertical-tabs {
  background:#ffffff;
}

.vertical-tabs legend {
  display: none;
}

.vertical-tabs fieldset legend {

  top:0px;
  left:0px;
}

div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  border: 1px solid #CCC;
  margin: 1em 0;

}


/*******************************************************************************
* Form Elements
*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 2px 2px;

  margin-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  color: #555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="submit"] {
  margin:0 10px 0 0;
}

select {
  padding-right:20px;
}

/**
* Views
*/
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.4em;
}

/* Views Summary */
ul.views-summary li {
  list-style:none;
}



/**
* Messages
*/
div.messages, .block-workbench .workbench-info-block {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-image:none;
}

.block-workbench .workbench-info-block {
   color: #C09853;
   background-color: #FCF8E3;
  border: 1px solid #FBEED5;
}

div.error {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}


/**
* System Theme Styles
*/
.form-item, .form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
}

label.option {
  display: inline;
  font-weight: normal;
}


/**
* System Base Styles
*/


/**
 * Inline items.
 */
.container-inline div,
.container-inline label {
  display: inline;
}
/* Fieldset contents always need to be rendered as block. */
.container-inline .fieldset-wrapper {
  display: block;
}





/**
 * Prevent text wrapping.
 */
.nowrap {
  white-space: nowrap;
}


/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}



/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}



/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}
.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}
.progress .percentage {
  float: right; /* LTR */
}
/* Throbber */
.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent url(../images/throbber.gif) no-repeat 0px -18px;
  float: left; /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}
.ajax-progress .message {
  padding-left: 20px;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
body.drag {
  cursor: move;
}
.draggable a.tabledrag-handle {
  cursor: move;
  float: left; /* LTR */
  height: 1.7em;
  margin-left: -1em; /* LTR */
  overflow: hidden;
  text-decoration: none;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  background: url(../../../../../misc/draggable.png) no-repeat 6px 9px !important;
  height: 13px;
  margin: -0.4em 0.5em; /* LTR */
  padding: 0.42em 0.5em; /* LTR */
  width: 13px;
  box-sizing:content-box;
  -moz-box-sizing:content-box;
}
a.tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}
div.indentation {
  float: left; /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
  padding: 0.42em 0 0.42em 0.6em; /* LTR */
  width: 20px;
}
div.tree-child {
  background: url(../images/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(../images/tree-bottom.png) no-repeat 11px center; /* LTR */
}
div.tree-child-horizontal {
  background: url(../images/tree.png) no-repeat -11px center;
}
.tabledrag-toggle-weight-wrapper {
  text-align: right; /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.resizable-textarea .grippie {
  background: #eee url(../images/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js fieldset.collapsed {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  height: auto;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}
fieldset.collapsible {
  position: relative;
}
fieldset.collapsible .fieldset-legend {
  display: block;

}


/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1; /* IE7 */
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../images/throbber.gif);
  background-position: 100% 5px; /* LTR */
  background-repeat: no-repeat;
}

html.js input.throbbing {
  background-position: 100% -18px; /* LTR */
}

.marker {
  color:red;
}


.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
